.navbar-brand{
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-size: 2.5em;
	color: deeppink !important;
}
.search-input:hover{
	/*width: 50vw;*/
	background-color: deepskyblue;
	color: white;
}

@media screen and (max-width: 768px) {
	.navbar-brand{
		width: 100%;
		text-align: center;
	}
}
